<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.zak-noble-clarke.Turm</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>turm</string>
			</array>
		</dict>
	</array>
	<key>NSBonjourServices</key>
	<array>
		<string>_turm._tcp</string>
	</array>
	<key>NSDockTilePlugIn</key>
	<string>TurmDockTile.docktileplugin</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Turm lets your paired iPhone, iPad and other Macs find this Mac and control its shells, and finds Macs running Turm on your network so you can control theirs.</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://seggys116.github.io/Turm/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>rqimPFayYxnfRJljQB++MWZ6+LZi9Ch3DfwVW4qyqFg=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>21600</integer>
</dict>
</plist>
