<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSDockTilePlugIn</key>
	<string>TurmDockTile.docktileplugin</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Open in Turm</string>
			</dict>
			<key>NSMessage</key>
			<string>openInTurm</string>
			<key>NSPortName</key>
			<string>Turm</string>
			<key>NSRequiredContext</key>
			<dict/>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.item</string>
			</array>
		</dict>
	</array>
	<key>SUFeedURL</key>
	<string>https://seggys116.github.io/Turm/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>rqimPFayYxnfRJljQB++MWZ6+LZi9Ch3DfwVW4qyqFg=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUScheduledCheckInterval</key>
	<integer>21600</integer>
</dict>
</plist>
